.DS_Store
*.pyc
__pycache__
.pytest_cache
venv
runs/
data/
logs/
wandb/
datasets/
datasets/cc3m_train.tsv
datasets/cc3m_val.tsv
fromage/prune_model_ckpt.py
.env
datasets/cc3m_train.tsv
datasets/cc3m_val.tsv
datasets/cc3m_train.tsv
datasets/cc3m_val.tsv
evals/llamasis_img_features.npy
evals/mistralsis_img_features.npy
evals/OPTsis_img_features.npy
evals/OPTsis_img_features0.npy
evals/eval_vist.sh
train_fromage.sh
evals/val.story-in-sequence.json
train_fromage.sh
VGlorIA_model/ckpt_best.pth.tar
VGlorIA_model/ckpt.pth.tar
VGlorIA_model/pretrained_ckpt.pth.tar
VGlorIA_model/git_info.txt
VGlorIA_model/param_count.txt
fromage/prune.sh
train_vgloria.sh
.ipynb_checkpoints/FROMAGe_example_notebook-checkpoint.ipynb
FROMAGe_example_notebook.ipynb
FROMAGe_example_notebook.ipynb
